<mat-toolbar class="toolbar-title" color="primary">
    Controle de Municípios
</mat-toolbar>

<mat-card class="card">
    <mat-card-content>
        <form class="form" [formGroup]="form" (ngSubmit)="salvar()">
            <div class="grid">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome" maxlength="60" placeholder="Ex.: Palmas" />
                    @if (getErrorMessage('nome'); as error) {
                        <mat-error>{{ error }}</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado" placeholder="Selecione um estado">
                        @for (estado of estados; track estado.id) {
                            <mat-option [value]="estado">{{estado.nome}} ({{estado.sigla}})</mat-option>
                        }
                    </mat-select>
                    @if (getErrorMessage('estado'); as error) {
                        <mat-error>{{ error }}</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="actions">
                <button mat-raised-button
                    color="warn"
                    (click)="excluir()"
                    [disabled]="!form.value.id">
                    <mat-icon>delete</mat-icon>
                    Excluir
                </button>

                <button mat-raised-button (click)="voltar()">
                    <mat-icon>arrow_back</mat-icon>
                    Cancelar
                </button>

                <button mat-raised-button
                    color="primary"
                    type="submit"
                    >
                    <mat-icon>save</mat-icon>
                    Salvar
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>